* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #66a72d;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.top-menu {
  width: 1140px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  border-top: none;
  height: 58px;
}

.top-menu-item {
  display: inline;
  font: 15px Roboto, sans-serif;
  float: left;
  margin: 17px 16px;
  list-style: none;
}

.under-top-menu-dec {
  height: 2px;
  width: 1100px;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  border-top: none;
  margin: 0 auto;
}

.top-head {
  width: 1140px;
  height: 157px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #000000;
}

.logo {
  width: 228px;
  height: 134px;
  bottom: 0;
  border: 2px solid #000000;
  display: inline-block;
}

.top-mid-block {
  width: 600px;
  height: 120px;
  margin: 2px 11px 0px 35px;
  padding: 20px 20px 0px;
  border: 2px solid #000000;
  display: inline-block;
  position: absolute;
}

.top-right-block {
  width: 189px;
  height: 104px;
  border: 1px solid #000;
  display: inline-block;
  position: absolute;
  right: 0px;
  margin-top: 27px;
}

.work-time {
  border: 1px solid #000;
  width: 188px;
  height: 22px;
}

.number {
  border: 1px solid #000;
  width: 188px;
  height: 28px;
}

.mail {
  border: 1px solid #000;
  width: 188px;
  height: 22px;
}

.call-me {
  border: 1px solid #000;
  width: 156px;
  height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 32px;
}

.ico-1 {
  width: 107px;
  height: 82px;
}

.ico-2 {
  width: 93px;
  height: 89px;
}

.ico-3 {
  width: 102px;
  height: 81px;
}

.ico-4 {
  width: 93px;
  height: 80px;
}

.ico-5 {
  width: 77px;
  height: 79px;
}

.ico-1,
.ico-2,
.ico-3,
.ico-4,
.ico-5 {
  border: 1px solid #000;
  display: inline-block;
}

.box-1-ico {
  width: 107px;
  height: auto;
}

.box-2-ico {
  width: 93px;
  height: auto;
}

.box-3-ico {
  width: 102px;
  height: auto;
}

.box-4-ico {
  width: 93px;
  height: auto;
}

.box-5-ico {
  width: 77px;
  height: auto;
}

.box-ico-1,
.box-ico-2,
.box-ico-3,
.box-ico-4,
.box-ico-5 {
  display: inline-block;
}
