* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #66a72d;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.top-menu {
  width: 1140px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  border-top: none;
  height: 58px;
}

.top-menu-item {
  display: inline;
  font: 15px Roboto, sans-serif;
  float: left;
  margin: 17px 16px;
  list-style: none;
}

.under-top-menu-dec {
  height: 2px;
  width: 1100px;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  border-top: none;
  margin: 0 auto;
}

.top-head {
  width: 1140px;
  height: 157px;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 228px;
  height: 134px;
  bottom: 0;
  display: inline-block;
}

.top-mid-block {
  width: 558px;
  height: 120px;
  margin: 2px 11px 0px 35px;
  padding: 20px 20px 0px;
  display: inline-block;
  position: absolute;
  text-align: center;
}

.top-right-block {
  width: 189px;
  height: 104px;
  display: inline-block;
  position: absolute;
  right: 0px;
  margin-top: 27px;
}

.work-time {
  width: 188px;
  height: 22px;
  color: #858585;
  font: 13px Roboto, sans-serif;
  text-align: right;
}

.number {
  width: 188px;
  height: 28px;
  font: 20px Roboto, sans-serif;
  text-align: right;
}

.mail {
  width: 188px;
  height: 22px;
  font: 13px Roboto, sans-serif;
  text-align: right;
}

.call-me {
  width: 130px;
  height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  font: 13px Roboto, sans-serif;
  text-decoration: underline;
  color: #fe6f00;
  font-weight: 700;
  margin-left: 58px;
}

.call-me-text {
  margin-right: 0;
  width: 130px;
  text-align: right;
}

.ico-1 {
  width: 100px;
  height: 120px;
  margin-right: 0;
}

.ico-2 {
  width: 100px;
  height: 120px;
  margin-left: 0;
  margin-right: 0;
}

.ico-3 {
  width: 100px;
  height: 120px;
  margin-left: 0;
  margin-right: 0;
}

.ico-4 {
  width: 100px;
  height: 120px;
  margin-left: 0;
  margin-right: 0;
}

.ico-5 {
  width: 100px;
  height: 120px;
  margin-left: 0;
}

.ico-1,
.ico-2,
.ico-3,
.ico-4,
.ico-5 {
  display: inline-block;
}

.box-1-ico {
  width: 107px;
  height: auto;
}

.box-2-ico {
  width: 93px;
  height: auto;
}

.box-3-ico {
  width: 102px;
  height: auto;
}

.box-4-ico {
  width: 93px;
  height: auto;
}

.box-5-ico {
  width: 77px;
  height: auto;
}

.img-1-ico {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-2-ico {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-3-ico {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-4-ico {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-5-ico {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.under-ico-text {
  width: auto;
  height: auto;
  font: 11px Roboto, sans-serif;
  text-align: center;
}

.row {
  border: 1px solid #000;
  width: 1180px;
  height: 270px;
  display: inline-block;
}

.slider-box {
  border-bottom: 1px dashed #66a72d;
  border-right: 1px dashed #66a72d;
  border-left: 1px dashed #66a72d;
  width: 923px;
  height: 223px;
}

.slider {
  border: 1px solid #000;
  width: 920px;
  height: 191px;
  margin-top: 11px;
  display: inline-block;
}

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5 {
  border: 1px solid #e6e6e6;
  width: 168px;
  height: 190px;
  display: inline-block;
}

.slide-1 {
  margin-left: 6px;
}

.slide-2 {
  margin-left: 10px;
}

.slide-3 {
  margin-left: 10px;
}

.slide-4 {
  margin-left: 10px;
}

.slide-5 {
  margin-left: 10px;
  margin-right: 3px;
}

.sling-1,
.sling-2,
.sling-3,
.sling-4,
.sling-5 {
  width: 167px;
  height: 128px;
}

.right-menu {
  border: 1px solid #000;
  width: 208px;
  height: 270px;
}

.nav-bar-over-slider {
  border: 1px solid #000;
  width: 677px;
  height: 43px;
  display: inline-block;
}

.but-1 {
  width: 141px;
  height: 42px;
  border-top: 1px dashed #66a72d;
  border-left: 1px dashed #66a72d;
  border-right: 1px dashed #66a72d;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #000;
  font: 15px Roboto, sans-serif;
}

.but-2 {
  margin-left: 0;
  width: 110px;
  height: 42px;
  /* border: 0.5px solid #000; */
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #66a72d;
  font: 15px Roboto, sans-serif;
}

.but-3 {
  margin-left: 0;
  width: 104px;
  height: 42px;
  /* border: 0.5px solid #000; */
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #66a72d;
  font: 15px Roboto, sans-serif;
}

.but-4 {
  margin-left: 0;
  width: 120px;
  height: 42px;
  /* border: 0.5px solid #000; */
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #66a72d;
  font: 15px Roboto, sans-serif;
}

.but-5 {
  margin-left: 0;
  width: 100px;
  height: 42px;
  /* border: 0.5px solid #000; */
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #66a72d;
  font: 15px Roboto, sans-serif;
}

.but-6 {
  margin-left: 0;
  width: 75px; /* Line 367: temporary solution, then fix it(original width is 105 px)*/
  height: 42px;
  /* border: 0.5px solid #000; */
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #66a72d;
  font: 15px Roboto, sans-serif;
}
